<div class="form-group">
    <label class="control-label" for="field-{{id}}">
        Field {{id}}
        <small>rule: {{rule}}</small>
    </label>
    <textarea class="form-control" id="field-{{id}}" name="field-{{id}}" data-rule="{{rule}}" data-msg="Insert a Text"></textarea>
</div>
